.home-banner{
    display: flex;
    justify-content: center;
    background-image: url(../Images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.home-image{
    margin-top: 140px;
}
.text-part{
    text-align: left;
    margin-left: 40px;
}
.text-part h1{
    font-size: 50px;
    width: 400px;
    margin-top: 150px;
    color: white;
}
.text-part p{
    font-size: 18px;
    color: white;
}
span{
    font-weight: bold;
}
.home-btn{
    height: 25px;
    width: 100px;
    border: none;

}